<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{site.title}}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{site.description_left}}</li>
          <li>Alex Pikalov © {{'now' | date: "%Y"}}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/AlexPikalov">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg>
              <span class="username">AlexPikalov</span>
            </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/alexander-pikalov-a6880046/">
                <svg class="svg-icon">
                  <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
                </svg>
                <span class="username">Alexander Pikalov</span>
              </a>
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{site.description_right}}</p>
      </div>
    </div>

  </div>

</footer>